/* P R O J E C T S  S E C T I O N */

.process-intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.process-container{
    height: 100dvh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.process-container>div{
    padding: clamp(10px, 2vw, 50px);
    display: grid;
    width: clamp(300px, 45vw, 800px);
    align-items: center;
    justify-items: center;
    > * {
    grid-area: 1 / 1 / 2 / 2;
    }
    
    
}



.process-img{
    width: 100%;
    object-fit: contain;
    height: 100dvh;
    height: 100svh;
}