/* P R O J E C T S  S E C T I O N */

.process-intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.process-container{
    position:relative;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100svh;
    align-content: center;
}
/* .process-container{
    transform: translate(0, -50%);
} */

.process-container > div{
    padding: clamp(10px, 2vw, 50px);
    display: grid;
    width: clamp(300px, 45vw, 800px);
    align-items: center;
    height: auto;
    justify-content: center;
    
    /* transform: translate(0, -50%); */
    > * {
    grid-area: 1 / 1 / 2 / 2;
    }
    
    
}



.process-img{
    width: 100%;
    height:auto;
    object-fit: contain;

}