/* P R O J E C T S  S E C T I O N */

.process-intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.process-container{
    position:relative;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100svh;
    align-content: center;
}
/* .process-container{
    transform: translate(0, -50%);
} */

.process-container > div{
    padding: clamp(10px, 2vw, 50px);
    display: grid;
    align-items: center;
    height: auto;
    justify-content: center;
    
    /* transform: translate(0, -50%); */
    > * {
    grid-area: 1 / 1 / 2 / 2;
    }
    
    
}

.process-imgs{
    width: clamp(300px, 50vw, 800px);
}

.process-texts{
    width: clamp(300px, 40vw, 800px);
}



.process-img{
    width: 100%;
    height:auto;
    object-fit: contain;

}

.tag{
    position: relative;
    top: -50%;
    left: 100%;
    transform: translate(-105%, 50%);
    display: flex;
    gap: 8px;
    color: ghostwhite;
    background-color: #333;
    z-index:2;
    width: fit-content;
    align-items: center;
    padding: 0px 6px;
    border-radius: 8px;
}

.dot{
    display: block;
    height: 0.75rem;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    background-color: ghostwhite;
    animation: tag-blink 0.8s infinite ease-in-out alternate;
}

@keyframes tag-blink {
    from { opacity: 20%;}
    to { opacity: 100%; }
}