/* P R O J E C T S  S E C T I O N */

.process-intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.process-container{
    position:relative;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100svh;
    align-content: center;
}
/* .process-container{
    transform: translate(0, -50%);
} */

.process-container > div{
    padding: clamp(10px, 2vw, 50px);
    display: grid;
    align-items: center;
    height: auto;
    justify-content: center;
    
    /* transform: translate(0, -50%); */
    > * {
    grid-area: 1 / 1 / 2 / 2;
    }
    
    
}

.process-imgs{
    width: clamp(300px, 50vw, 800px);
}

.process-texts{
    width: clamp(300px, 40vw, 800px);
}



.process-img{
    width: 100%;
    height:auto;
    object-fit: contain;

}

tag{
    position: relative;
    top: -50%;
    transform: translate(50%, 0%);
    display: flex;
    gap: 8px;
    color: ghostwhite;
    background-color: #333;

}

tag:first-child{
    display: block;
    size: 0.5rem;
    aspect-ratio: 1 / 1;
    color: ghostwhite;
}

@keyframes tag-blink {
    from { opacity: 20%;}
    to { opacity: 0%; }
}